:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

.page-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid aqua;
    border-radius: 5px;
    margin: 10px;
}
.whole-grid div {
    border: solid 1px black;
}

body {
    background: linear-gradient(#fff 20%, #06f);
}


.whole-grid {
    display: grid;
    grid-template-rows: 10% 90%;
    width: 100%;
    height: 100%
}

.whole-grid .top {
    display: grid;
    grid-template-rows: 15% 85%;
}

.whole-grid .bottom {
    display: grid;
    grid-template-columns: 15% 85%;
}

.box-3 {
    display: grid;
    grid-template-rows: 70% 30%;

}

.box-4 {
    display: grid;
    grid-template-rows: 45% 55%;
}

.box-5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.box-6 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.bottom {
    display: grid;
    grid-template-columns: 20% 80%;
}